<div class="dashboard">
  <header class="main-header">
		<div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>Centriz</strong>Dashboard</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Administracion</a></li>
          <li><a href="#">BSC</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">"nombre usr" <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Cerrar sesi&oacuten</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </header>
  <body>
	<div class="row">
	  <div class="col-md-12">
	    <div class="col-md-3">
	    		<ul>
	    		 <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="false" aria-expanded="false">"Marcas" <span class="caret"></span></a>
	            <ul class="dropdown-menu">
	              <li><a href="#">ejm 1</a></li>
	              <li><a href="#">ejm 2</a></li>
	            </ul>
          	</li>
					</ul> 
					<ul>
	    		 <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">"Zonas" <span class="caret"></span></a>
	            <ul class="dropdown-menu">
	              <li><a href="#">ejm 1</a></li>
	              <li><a href="#">ejm 2</a></li>
	            </ul>
          	</li>
					</ul> 
	    </div>
	    <div class="col-md-offset-3">
					<p> area de trabajo </p>	
	    </div>
	  </div>
	</div>	
  </body>
