<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">centriz</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/centriz</property>
        <property name="hibernate.connection.username">centriz</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.transaction.auto_close_session">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Possible values: -->
        <!-- 'create'       -> creates the schema, destroying previous data
             'create-drop'  -> drop the schema at the end of the session 
             'update'       -> update the schema, 
             'validate'     -> validates the schema, no changes on DB -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <mapping class="cr.centriz.entities.User"/>
        <mapping class="cr.centriz.entities.UserRole"/>
    </session-factory>
</hibernate-configuration>