<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
	  <ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	    <li><a href="#">Examples</a></li>
	    <li class="active">Blank page</li>
	  </ol>
	</section>
	<div class="col-md-10 col-xs-10 col-md-offset-1 space" ng-controller="KPIctrl">
  <h2>
    Balance Score Card
  </h2>
  <h4>
    Seleccionar KPI Primario
  </h4>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid" ngRepeat="level in levels">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-xs-4">
              <div class="row">
                <div class="col-md-12 col-xs-12 white-bg"></div>
              </div>
              <div class="row row-dim financial">
                <div class="col-md-4 col-xs-4 without-padding">
                  <ul class="size-table">
                    <dd><div class="dimension">Dimensión</div></dd>
                    <dd><div class="dim-number">01</div></dd>
                  </ul> 
                </div>
                <div class="col-md-8 col-xs-8 without-padding">
                 <span class="dim-name">{{level.name}}</span>
               	</div>
             	</div>
             	<div class="row">
              	<div class="col-md-12 col-xs-12 white-bg"></div>
            	</div>
          	</div>
          	<div class="col-md-8 col-xs-8 with-padding financial">
          <!-- buttons off KPI -->
          <!-- button -->
          		<!-- button -->
	            <div class="col-md-4">
	              <div class="row">
	                <div class="col-md-12 without-padding"> 
	                  <button class="transparent-button">Salud Financiera</button>
	                </div>
	              </div>
	              <div class="row">
	                <div class="col-md-7 without-padding">
	                  <div class="progress progress-xs size-process-bar">
	                    <div class="progress-bar progress-bar-success" style="width: 80%"></div>
	                  </div>
	                </div>
	                <div class="col-md-4 without-padding">
	                  <span class="badge bg-green">80%</span>
	                </div>
	              </div>
	            </div>
	            <!-- button -->
          	</div>
        	</div>
      	</div>
    	</div>
  	</div>
  </section>
  </div>
</div>
