  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>
    <div class="col-md-10 col-md-offset-1">
      <br>
      <h2>
        Balance Score Card
      </h2>
      <h4>
        Seleccionar KPI Primario
      </h4>
      
      <!-- ########################################### -->
      <!-- Main content -->
      <section class="content">
        <div class="box box-default">
          <div class="box-body">
            <div class="col-md-3 without-padding">
              <div class="tam0"></div>
              <div class="fondo tam1">CLIENTES</div>
              <div class="tam0"></div>
            </div>
            <div class="col-md-9 fondo tam2 without-padding">
              KPI'S
            </div>
          </div>
        
      </section>

      <!--#######################################################-->

      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->