<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
   <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">Blank page</li>
  </ol>
</section>
<div class="col-md-10 col-xs-10 col-md-offset-1 space" ng-controller="KPIctrl">

  <h2>
    Balance Score Card
  </h2>
  <h4>
    Seleccionar KPI Primario
  </h4>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-xs-4">
              <div class="row">
                <div class="col-md-12 col-xs-12 white-bg"></div>
              </div>
              <div class="row row-dim financial">
                <div class="col-md-4 col-xs-4 without-padding">
                  <ul class="size-table">
                    <dd><div class="dimension">Dimensión</div></dd>
                    <dd><div class="dim-number">01</div></dd>
                  </ul> 
                </div>
                <div class="col-md-8 col-xs-8 without-padding">
                 <span class="dim-name">FINANCIERA</span>
               </div>
             </div>
             <div class="row">
              <div class="col-md-12 col-xs-12 white-bg"></div>
            </div>
          </div>
          <div class="col-md-8 col-xs-8 with-padding financial">
          <!-- buttons off KPI -->
          <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">Salud Financiera</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-green">80%</span>
                </div>
              </div>
            </div>
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">EBITDA</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 60%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">60%</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">Rendimiento de vehículos vendidos</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-danger" style="width: 35%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-red">35%</span>
                </div>
              </div>
            </div>
            <!-- /Buttons of KPI -->
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="row">
          <div class="col-md-4 col-xs-4">
            <div class="row">
              <div class="col-md-12 col-xs-12 white-bg"></div>
            </div>
            <div class="row row-dim customers">
              <div class="col-md-4 col-xs-4 without-padding">
                <ul class="size-table">
                  <dd><div class="dimension">Dimensión</div></dd>
                  <dd><div class="dim-number">02</div></dd>
                </ul> 
              </div>
              <div class="col-md-8 col-xs-8 without-padding">
               <span class="dim-name">CLIENTES</span>
             </div>
           </div>
           <div class="row">
            <div class="col-md-12 col-xs-12 white-bg"></div>
          </div>
        </div>
        <div class="col-md-8 col-xs-8 with-padding customers">
        <!-- buttons off KPI -->
          <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">Satisfacción de Clientes</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-green">80%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">Cumplimiento con plan de Clientes</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-green">80%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">Satisfaccion de Vehículos</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-green">80%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button´s of KPI -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="row">
        <div class="col-md-4 col-xs-4">
          <div class="row">
            <div class="col-md-12 col-xs-12 white-bg"></div>
          </div>
          <div class="row row-dim process">
            <div class="col-md-4 col-xs-4 without-padding">
              <ul class="size-table">
                <dd><div class="dimension">Dimensión</div></dd>
                <dd><div class="dim-number">03</div></dd>
              </ul> 
            </div>
            <div class="col-md-8 col-xs-8 without-padding">
             <span class="dim-name">PROCESOS</span>
           </div>
         </div>
         <div class="row">
          <div class="col-md-12 col-xs-12 white-bg"></div>
        </div>
      </div>
      <div class="col-md-8 col-xs-8 with-padding process">
      <!-- buttons off KPI -->
          <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">Cumplir con el alistado de venta</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-green">80%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">Cumplir plan de mantenimiento de activos</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-green">80%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button´s of KPI -->
      </div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="row">
        <div class="col-md-4 col-xs-4">
          <div class="row">
            <div class="col-md-12 col-xs-12 white-bg"></div>
          </div>
          <div class="row row-dim increase">
            <div class="col-md-4 col-xs-4 without-padding">
              <ul class="size-table">
                <dd><div class="dimension">Dimensión</div></dd>
                <dd><div class="dim-number">04</div></dd>
              </ul> 
            </div>
            <div class="col-md-8 col-xs-8 without-padding">
             <span class="dim-name">CRECIMIENTO & APRENDIZAJE</span>
           </div>
         </div>
         <div class="row">
          <div class="col-md-12 col-xs-12 white-bg"></div>
        </div>
      </div>
      <div class="col-md-8 col-xs-8 with-padding increase">
        <!-- buttons off KPI -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 without-padding"> 
                  <button class="transparent-button">button test</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 without-padding">
                  <div class="progress progress-xs size-process-bar">
                    <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                  </div>
                </div>
                <div class="col-md-4 without-padding">
                  <span class="badge bg-yellow">50%</span>
                </div>
              </div>
            </div>
            <!-- /button -->
            <!-- button´s of KPI -->
      </div>
    </div>
  </div>
</div>
</div>

</section>
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
