  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo navbar-fixed-top">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Centriz</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Centriz</b>Dashboard</span>
    </a>
    <nav class="navbar navbar-fixed-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">user name</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <p>
                  user - Centriz
                  <small>Member since 2016</small>
                </p>
              </li>
              <!-- Menu  -->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>