@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);

html {
	font-family: "Tenor Sans", sans-serif;
}

.login {
	padding-top: 50px;
	width: 450px;
}

.login-bg {
	height: 100vh;
	background: #D7D6D8;
}

.login-heading {
	font: 1.8em/48px "Tenor Sans", sans-serif;
	color: white;
}

.input-txt {
	width: 100%;
	padding: 20px 10px;
	background: #FFFFFF;
	border: none;
	font-size: 1em;
	border-radius: 0px;
	margin: 1px;
}

.input-txt:-moz-placeholder {
	color: #999899;
}

.input-txt:-ms-input-placeholder {
	color: #999899;
}

.input-txt::-webkit-input-placeholder {
	color: #999899;
}

.input-txt:focus {
	background-color: #FFFFFF;
}

.submit-btn {
	padding: 15px;
	border: none;
	background-color: #007BB6;
	color: #FFFFFF;
	border-radius: 0px;
	width: 100%;
	font-size: 2em;
	margin-top: 10px;
}

.text-right {
	float: right;
}

.lnk {
	font-size: .8em;
	line-height: 3em;
	color: #4f4b4e;
	text-decoration: none;
	font-size: 1em;
}

.logo-login {
	width: 75%;
	padding-top: 2em;
}
